<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="schedule_manage.css">
    <title>Schedule Manage</title>
</head>
<body>
<div class="container">
    <div class="schedule" id="vue_sch">
        <table class="sch-header">
            <tr>
                <td><i class="sch-left" v-on:click="minusDate"></i></td>
                <td class="sch-date"><span v-cloak>{{date_formate}}</span></td>
                <td><i class="sch-right" v-on:click="addDate"></i></td>
            </tr>
        </table>
        <table class="sch-calendar" border="1">
            <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>
            <tbody>
                <tr is="sch_tr" v-bind:style="{height:tr_scale+'%'}" v-for="item in days"
                    v-bind:tr_data="item" v-bind:schedule="cur_month_sch"
                    v-on:show_detail="showModal(arguments[0])"></tr>
            </tbody>
        </table>
        <transition name="fade">
            <sch_modal v-show="is_modal_show" v-on:hide_modal="hideModal"
                       v-bind:cur_day_event="cur_day_event" v-bind:cur_day="cur_day"
                       v-on:update_schedule="updateSchedule(arguments[0], arguments[1])"></sch_modal>
        </transition>
    </div>
</div>
<script src="vue.js"></script>
<script type="text/x-template" id="sch_modal_template">
    <div class="sch-modal">
        <div class="sch-modal-bg">
            <div class="sch-modal-content">
                <i class="sch-modal-close" v-on:click="hideModal"></i>
                <div class="modal-header">
                    <h3>日程管理</h3>
                    <div class="modal-date modal-text"></div>
                </div>
                <div class="modal-body">
                    <div>
                        <h4 class="modal-text">
                            日程列表
                        </h4>
                        <select v-model="event_index">
                            <option value="-1">新建日程</option>
                            <option v-for="(event,index) in cur_day_event" v-bind:value="index">{{event.theme}}</option>
                        </select>
                    </div>
                    <div id="time_slot">
                        <h4 class="modal-text">
                            开始时间
                        </h4>
                        <div class="modal-start">
                            <input v-model="start_h">
                            &nbsp;时
                            <input v-model="start_m">
                            &nbsp;分
                        </div>
                        <div class="modal-text">
                            结束时间
                        </div>
                        <div class="modal-end">
                            <input v-model="end_h">
                            &nbsp;时
                            <input v-model="end_m">
                            &nbsp;分
                        </div>
                    </div>
                    <div class="modal-text">
                        <h4>主题</h4>
                        <input v-model="theme">
                    </div>
                    <div class="modal-text">
                        <h4>内容</h4>
                        <textarea  v-model="detail"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button v-on:click="save">保存</button>
                    <button id="modal_delete">删除</button>
                </div>
            </div>
            </div>
        <div class="sch-modal-mask"></div>
    </div>
</script>
<script>
    (function(){
        /*var sch_td = {
            props:['text', 'schedule'],
            template:'\
                <td v-on:click="showDetail">{{text}}\
                    <div class="has-sch" v-for="event in is_sch">{{event.theme}}</div>\
                </td>',
            computed: {
                is_sch: function(){
                    if(this.schedule && this.schedule[this.text]){
                        return this.schedule[this.text]
                    } else {
                        return [];
                    }
                }
            },
            methods: {
                showDetail: function(){
                    if(this.text !== ''){
                        this.$emit('showDetail', this.text);
                    }
                }
            }
        };*/
        var sch_tr= {
            props: ['tr_data','schedule'],
            template:'\
                <tr>\
                    <td v-for="text in tr_data" v-bind:class="is_sch(text)" v-on:click="showDetail(text)">{{text}}</td>\
                </tr>',
            methods: {
                showDetail: function(day){
                    if(day !== ''){
                        this.$emit('show_detail', day);
                    }
                },
                is_sch: function(day){
                    if(this.schedule && this.schedule[day]){
                        return 'has-sch';
                    } else {
                        return '';
                    }
                }
            }
        };
        var sch_modal = {
            props: ['cur_day', 'cur_day_event'],
            template: '#sch_modal_template',
            data: function(){
                return {
                    event_index: '-1',
                    start_h: '',
                    start_m: '',
                    end_h: '',
                    end_m: '',
                    theme: '',
                    detail: ''
                }
            },
            watch: {
                cur_day_event: function(){
                    if(this.cur_day_event.length > 0){
                        this.event_index = '0'
                    } else {
                        this.event_index = '-1'
                    }
                },
                event_index: function(){
                    switchEvent(this);
                }
            },
            methods: {
                hideModal: function(){
                    this.$emit('hide_modal');
                },
                save: function(){
                    var sch_obj = {
                        time_start: this.start_h + ':' + this.start_m,
                        time_end: this.end_h + ':' + this.end_m,
                        theme: this.theme,
                        detail: this.detail
                    };
                    if(this.event_index === '-1'){
                        this.cur_day_event.push(sch_obj);
                    } else {
                        this.cur_day_event[this.event_index] = sch_obj;
                    }
                    this.$emit('update_schedule',this.cur_day_event, this.cur_day);
                    this.hideModal();
                }
            }
        };
        function switchEvent(data){
            if(data.event_index !== '-1'){
                var item = data.cur_day_event[data.event_index];
                var start_arr = item.time_start.split(':'),
                        end_arr = item.time_end.split(':');
                assignment(data, [
                    start_arr[0],start_arr[1],end_arr[0],end_arr[1],item.theme,item.detail
                ]);
            } else {
                assignment(data, ['', '', '', '', '']);
            }
            function assignment(data, arr){
                data.start_h = arr[0];
                data.start_m = arr[1];
                data.end_h = arr[2];
                data.end_m = arr[3];
                data.theme = arr[4];
                data.detail = arr[5];
            }
        }
        var sch_vue_tb = new Vue({
            el: '#vue_sch',
            data: {
                date: new Date(),
                is_modal_show: false,
                schedule: getSchedule(),
                cur_day: '',
                cur_day_event: []
            },
            components: {
                sch_tr: sch_tr,
                sch_modal: sch_modal
            },
            methods: {
                showModal: function(day){
                    if(this.cur_month_sch && this.cur_month_sch[day]){
                        this.cur_day_event = this.cur_month_sch[day];
                    } else {
                        this.cur_day_event = [];
                    }
                    this.cur_day = day;
                    this.is_modal_show = true;
                },
                hideModal: function(){
                    this.is_modal_show = false;
                },
                updateSchedule: function(event_arr, cur_day){
                    var cur_year = this.date.getFullYear(),
                            cur_month = this.date.getMonth() + 1;
                    if(this.schedule[cur_year] === undefined){
                        this.$set(this.schedule, cur_year, {});
                    }
                    if(this.schedule[cur_year][cur_month] === undefined){
                        this.$set(this.schedule[cur_year], cur_month, {});
                    }
                    if(this.schedule[cur_year][cur_month][cur_day] === undefined){
                        this.$set(this.schedule[cur_year][cur_month], cur_day, event_arr);
                    } else {
                        this.schedule[cur_year][cur_month][cur_day] = event_arr;
                    }
                },
                addDate: function(){
                    this.date = new Date(this.date.getFullYear(), this.date.getMonth() + 1, 1);
                },
                minusDate: function(){
                    this.date = new Date(this.date.getFullYear(), this.date.getMonth() - 1, 1);
                }
            },
            computed: {
                days: function(){
                    return compute_date(this.date);
                },
                date_formate: function(){
                    var cur_date = this.date;
                    return cur_date.getFullYear() + '-' + (cur_date.getMonth() + 1);
                },
                tr_scale: function(){
                    return 100/this.days.length;
                },
                cur_month_sch: function(){
                    var cur_year = this.date.getFullYear(),
                            cur_month = this.date.getMonth() + 1;
                    if(this.schedule && this.schedule[cur_year]){
                        return this.schedule[cur_year][cur_month];
                    }
                }
            }
        });
        function getSchedule(){
            // schedule range must be in the same month
            return {
                2017: {
                    1: {
                        20: [{ end:25, time_start:'9:30', time_end:'10:30', theme:'do something'},
                            { end:22, time_start:'9:30', time_end:'10:30', theme:'do something'}]
                    }
                }
            }
        }
        function parseEventdata(schedule, date, tr_scale){
            var cur_year = date.getFullYear(),
                    cur_month = date.getMonth() + 1;
            var cur_month_event = schedule[cur_year][cur_month];
            var event_arr = [];
            for(var day in cur_month_event){
                var layout_data = parseLayoutData(date, day, cur_month_event[day]);
                layout_data.width.forEach(function(val, i){
                    var data_config = {
                        year: cur_year,
                        month: cur_month,
                        day: day,
                        event: cur_month_event[day].event,
                        top: (layout_data.top + i + 0.25)*tr_scale + '%',
                        left: i > 0 ? 0 : layout_data.left + '%',
                        width: val + '%'
                    };
                    event_arr.push(data_config)
                });
            }
            return event_arr;
        }
        function parseLayoutData(date, day, cur_event){
            var days = getDateData(date).days;
            date.setDate(day);
            var week_day = date.getDay();
            date.setDate(1);
            var week_1th = date.getDay();
            var row = Math.ceil((day - (7 - week_1th))/7),
                    column = week_day;
            var width = [], box_width = 100/7;
            var extral_week, extral_day;
            if(day <= days){
                if(typeof cur_event.end === 'number' && cur_event.end > day && cur_event.end <= days){
                    if((cur_event.end - day) - (6 - week_day) <=0){
                        width.push((cur_event.end - day)*box_width);
                    } else {
                        width = [];
                        width.push((7 - week_day)*box_width);
                        extral_day = (cur_event.end - day) - (6 - week_day);
                        extral_week = Math.floor(extral_day/7);
                        for(var i=0; i<extral_week; i++){
                            width.push(7*box_width);
                        }
                        width.push((extral_day%7)*box_width);
                    }
                } else {
                    width.push(box_width);
                }
            }
            return {
                left: column * box_width,
                top: row,
                width: width
            }
        }
        // parse schedule in current month
        function parseScheduleDate(schedule, date){
            var schedule_arr = [];
            var month = date.getMonth(),
                    sch_obj;
            var date_arr, start_date_arr, end_date_arr;
            schedule.forEach(function(val, i){
                date_arr = val.split('-');
                start_date_arr = date_arr[0].split('.');
                sch_obj = {
                    start: {
                        year: start_date_arr[0],
                        month: start_date_arr[1],
                        day: start_date_arr[2]
                    },
                    time: val.time,
                    event: val.event
                };
                // is date range
                if(date_arr[1]){
                    end_date_arr = date_arr[1].split('.');
                    sch_obj.end = {
                        year: end_date_arr[0],
                        month: end_date_arr[1],
                        day: end_date_arr[2]
                    };
                }
                // is current month
                if(month == sch_obj.start.month){
                    if(!sch_obj.end || sch_obj.end.month === sch_obj.start.month){
                        schedule_arr.push(sch_obj);
                    }
                }
                return schedule_arr;
            });
        }
        function compute_date(date){
            var date_arr = [],
                    date_week_arr = [],
                    date_obj = getDateData(date);
            for(var i = 0; i < date_obj.day_week; i++){
                date_week_arr[i] = '';
            }
            for(var j = 1; j <= date_obj.days; j++){
                if(date_week_arr.length === 7){
                    date_arr.push(date_week_arr);
                    date_week_arr = [];
                }
                date_week_arr.push(j);
                if(j == date_obj.days){
                    for(var k = date_week_arr.length; k < 7; k++){
                        date_week_arr[k] = '';
                    }
                    date_arr.push(date_week_arr);
                }
            }
            return date_arr
        }
        function getDateData(date){
            date || (date = new Date());
            var year = date.getFullYear(),
                    month = date.getMonth();
            var isLeapYear = (year % 4 == 0) && (year % 100 != 0 || year % 400 == 0),
                    days = (month === 2) ? (28 + isLeapYear) : 31 - month % 7 % 2;
            date.setDate(1);
            var day_week = date.getDay();
            return {
                days: days,
                day_week: day_week
            }
        }
        function getEle(selector, ele){
            ele || (ele = document);
            if(/^#.+/.test(selector)){
                return ele.getElementById(selector);
            }else if(/^\..+/.test(selector)){
                return ele.getElementsByClassName(selector);
            } else {
                return ele.getElementsByTagName(selector);
            }
        }
    })();
    var event_box= {
        props: ['schedule', 'date'],
        template:'\
                <div class="sch-event-box" v-for="data in event_data" v-on:click="emitShowModal(data)">\
                        {{data.event}}\
                </div>',
        computed: {
            event_data: function(){
                return [{
                    event: 'ffffff'
                }]
            }
        },
        methods: {
            emitShowModal: function(data){
                this.$emit('emitShowModal', data);
            }
        }
    };
</script>
</body>
</html>