.container{
    margin: 20px auto;
    width: 500px;
}
.schedule{
    text-align: center;
}
.sch-body{
    position: relative;
}
.sch-date{
    width: 100%;
    border-collapse: collapse;
}
.sch-date > thead > tr{
    height: 30px;
}
.sch-date > tbody > tr{
    height: 60px;
}
.sch-event-box{
    position: absolute;
    top: 20%;
    left: 42.857142857142854%;
    height: 30px;
    width: 100px;
    border: 1px solid;
}